
.footer {
    background-color: #000;
    color: #fff;
    padding: 2rem 0;
    text-align: center;
  }
  
  .container {
    display: flex;
    justify-content: center; /* Center form horizontally */
    width: 80%; /* Adjust container width as needed */
    margin: 0 auto;
  }
  

  
  .copyright {
    margin-top: 1rem; /* Add some margin above copyright */
  }
  
  @media (max-width: 768px) {
    .container {
      width: 90%; /* Adjust width for smaller screens */
    }
  }