
body {
  background-image: url("omi.jpg");
  background-repeat: repeat; /* Ensure the pattern repeats */
  background-attachment: fixed;
  background-size: cover; /* Maintain pattern aspect ratio */
  background-position: top left;
  margin: 0;
  font-family: sans-serif;
  
}